{% extends 'liste.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block h1 %}Liste de toutes les entreprises{% endblock %}

{% block elements %}

	{# génération des éléments à partir de la bdd #}
	{% for entreprise in entreprises %}
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-3">
					{{entreprise.nom}}
				</div>
				<div class="col-md-3">
					{{entreprise.adresse}}
				</div>
				<div class="col-md-3">
					{{entreprise.urlSiteWeb}}
				</div>
				<div class="col-md-3">
					{{entreprise.telephone}}
				</div>
			</div>
		</li>
	{% endfor %}
	
{% endblock %}

{% block boutons %}<a class="btn btn-primary" href="{{path('pro_stage_accueil')}}" role="button">Accueil</a>{% endblock %}
