<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}!{% endblock %}</title>

        {% block stylesheets %}
        <!--INTEGRATION BOOTSTRAP-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
    	<div class="container-fluid">
        <ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link {% block accueilActif %}{% endblock %}" href="{{path('pro_stage_accueil')}}">Accueil</a>
				</li>
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
  				<li class="nav-item">
  					<a class="nav-link {% block entreprisesActif %}{% endblock %}" href="{{path('pro_stage_entreprises')}}">Entreprises</a>
  				</li>
          <li class="nav-item">
  					<a class="nav-link {% block ajoutStageActif %}{% endblock %}" href="{{path('pro_stage_ajout_stage')}}">Ajout Stage</a>
  				</li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link {% block formationsActif %}{% endblock %}" href="{{path('formation_index')}}">Gestion Formations</a>
        </li>
          <li class="nav-item">
  					<a class="nav-link {% block ajoutEntrepriseActif %}{% endblock %}" href="{{path('pro_stage_ajout_entreprise')}}">Ajout Entreprise</a>
  				</li>
        {% endif %}
          {% if is_granted('ROLE_USER') %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('app_logout') }}">
                {{ app.user.prenom ~ ' ' ~ app.user.nom }}
                <button type="button" class="btn btn-outline-danger btn-sm">Deconnexion</button>
              </a>
            </li>
            <li>
            </li>
            {% else %}
            <li class="nav-item">
    					<a class="nav-link" href="{{path('app_signIn')}}">
                <button type="button" class="btn btn-outline-primary btn-sm">Inscription</button>
              </a>
    				</li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('app_login') }}">
                <button type="button" class="btn btn-outline-success btn-sm">Connexion</button>
              </a>
            </li>
          {% endif %}
			</ul>
    		{% block body %}{% endblock %}
    	</div>
        {% block javascripts %}
        <!--INTEGRATION BOOTSTRAP-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
